<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					href="https://github.com/ultraq/thymeleaf-layout-dialect">
					Artykuly </a>
				<ul class="nav">
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Lista artykulow</h1>
		<div layout:fragment="content">

			<div class="bs-example">
				<ul class="list-group">
					<tr th:each="article : ${articles}">
						<li class="list-group-item">
							<p th:text="${article.id}" />
							<a th:text="${article.title}" th:href='@{/article/{id}(id=${article.id})}'/>
						</li>
					</tr>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>